label {
    display:block;
    margin-bottom: 10px;

    
}

.hite {
    width: 1000px;
   
    box-sizing: border-box;
}  
fiedset {
    display: block;
    margin-left: 2px;
    margin-right: 2px;
    padding-top: 0.35em;
    padding-bottom: 0.625em;
    padding-left: 0.75em;
    padding-right: 0.75em;
    border: 2px groove (internal value);
  } 
